body{
    background-color: #0D3B66;
}

.table th,
    .table td {
        color: #FAF0CA;
    }

.table{
    margin: 10px;
    margin-top: 50px;
}

.title{
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    color: #FAF0CA;
}

.btn{
    color: #F4D35E;
}

.btn:hover{
    color: #FAF0CA;
}